nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0px 200px;

}
.text-primary{
    color: #FD6E0A;
}
.btn-primary{
    width: 100px;
height: 40px;
flex-shrink: 0;
border-radius: 5px;
background: #FD6E0A;
border: 0;
color: white;
}
.logo{
    color: #181818;
    font-family: Open Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;  
}
.menu{
    color: var(--dark-02, #474747);
font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
}
nav > ul {
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
.header{
    background-color:#FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, top left;
}
.banner{
    padding:30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.banner .profile-picture{
    width: 500px;
}
.banner-greetting{
    font-size: 45px;
    color: #474747;
    margin-bottom: 0px;
}
.banner-title{
    font-size: 85px;
    font-weight: 700;
    margin-top: 5px;
    margin-bottom:20px ;
}
.banner-content{
    max-width: 500px;
}
.about{
    padding: 131px;
    border-radius: 10px;
    background-color: #FFF8F3;
    margin: 130px 230px;
}
.section-title{
    color:  #181818;
text-align: center;
font-family: Open Sans;
font-size: 35px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.section-content{
    color: #757575;
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;   
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}
.about-info{
    text-align: center;
}
#what-i-do-description{
    padding: 30px 150px;
}
.skill-container{
    display: flex;
    justify-content: space-around;
    margin-bottom: 130px;
}
.skill{
    gap: 24px;
    padding: 30px;
    border-radius: 5px;
background: #FFF;
box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill-description{
    color: #757575;
font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px;
}
.resume-colum-title{
    color: #474747;
font-family: Open Sans;
font-size: 30px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.resume-item-title{
    color: #474747;
    font-family: Open Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;   
}
.resume-item-institute{
    color: #757575;
font-family: Open Sans;
font-size: 20px;
font-style: normal;
font-weight: 600;
line-height: normal;
}
.resume-container{
    display: flex;
    gap: 50px;
    margin: 0px 230px 0px 230px;
}
.download-cv{
    text-align: center;
    margin: 50px;
}
.footer{
    display: flex;
    gap: 100px;
    background: #FFF8F3;
    padding: 130px 200px;
}
.footer-colum{
    width: 50%;
}
.social-link a{
    margin-right: 25px;
}
.contact input[type="text"], .contact input[type="email"], textarea{
    display: block;
    margin: 25px;
    padding: 18px 35px;
    color: #757575;
    border-radius: 5px;
    background: white-color, #FFF;
    border: 0;
    width: 100%;
}

